body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8f2;
  color: #333;
}

.section {
  padding: 3rem 2rem;
  text-align: center;
}

h1,
h2 {
  color: #f16a70;
}

button {
  background-color: #f16a70;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

.shop-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.item {
  background-color: white;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 250px;
}